<div class="main-container d-flex flex-column bg-dark border-right p-3">
  <div class="header-box">
    <h3 class="text-light">Dashboard</h3>
  </div>
  <hr class="text-white">
  <ul class="list-group">
    <li
    routerLink=""
    [routerLinkActiveOptions]="{exact: true}"
    routerLinkActive="active-link"
    class="list-group-item">Home
  </li>
    <li
    routerLink="projects"
    routerLinkActive="active-link"
    class="list-group-item ">Projects</li>
    <li
    routerLink="gym"
    routerLinkActive="active-link"
    class="list-group-item">Gym Lifts</li>
    <li
    routerLink="finance"
    routerLinkActive="active-link"
    class="list-group-item">Finance</li>
    <li
    routerLink="tasks"
    routerLinkActive="active-link"
    class="list-group-item">Tasks</li>
    <li
    routerLink="settings"
    routerLinkActive="active-link"
    class="list-group-item">Settings</li>
    <li
    routerLink="notes"
    routerLinkActive="active-link"
    class="list-group-item">Notes</li>
  </ul>
</div>
